.card {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 670px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    text-align: justify;
    padding: 50px;
}

img {
    border-radius: 5px 5px 5px 5px;
    width: 400px;
    display: block;
    margin-right: auto;
  }

.internal{
    display: flex;
    align-items:center ;
}

.moreinternal{
    align-items:center ;
}

h1 {
    color: #153535;
  }

table{
    border: 0px solid #153535; 
}

button{
    padding: 50px;
}